<?xml version="1.0" encoding="UTF-8"?>

<!--
//
// ===================================================
// FlashQ by Christian Hackert and Gernot Braehler
// ===================================================
// Configuration file.
// @author		Christian Hackert <www.hackert.biz/flashq>
// @version		FlashQ version 1.0
// ===================================================
//
-->

<config version="1.0" htmlParse="false">

  <!-- title of the study -->
  <item id="studyTitle">Einstellungen von Pflegefachpersonen</item>

  <!-- text-align property(left|right) -->
  <item id="textAlign">left</item>

  <!-- shuffle cards (true|false)  -->
  <item id="shuffleCards">true</item>

  <!-- login required (true|false) -->
  <item id="loginrequired">false</item>
  <!-- login with common password (leave blank if not required) -->
  <item id="loginPassword"></item>
  <!-- URL to individual login script(leave blank if not required) -->
  <item id="loginUrl"></item>
  <!-- request mode (post|get) -->
  <item id="loginUrlMethod"></item>

  <!-- activate/deactivate optional steps (true|false) -->
  <item id="showStep3">true</item>
  <item id="showStep4">true</item>
  <item id="showStep5">true</item>

  <!-- HtmlQ only: disable the in-window back button -->
  <item id="disableBackButton">true</item>

  <!-- Make the font of the cards smaller so that users can read more of the text -->
 <item id="smallFont">true</item>

  <!-- define form elements for step5; only displayed if showStep5 is true (delete tags if not required) -->
  <!-- add label: <label>[STRING]</label> -->
  <!-- add note: <note>[STRING]</note> -->
  <!-- add input-field: <input type="[text|textarea|radio|select|checkbox|rating2|rating5|rating10]">[VALUE]</input> -->
  <!-- optional attributes: bg, id, maxlength, restricted, required, scale  -->
  <item id="form">
    <label>1. Alter*</label>
    <input type="radio" required="true">17-19;20-29;30-39;40-49;50-59;60+</input>

    <label>2. Geschlecht*</label>
	<input type="radio" required="true">männlich;weiblich;divers;keine Angabe</input>

  <label>3. Höchster Schulabschluss*</label>
<input type="radio" required="true">Hauptschulabschluss;Mittlere Reife;Fachabitur;Abitur</input>
<note>Falls Sie Ihr Schulabschluss im Ausland gemacht haben, wählen Sie den deutschen Abschluss, der am nächsten ist.</note>

  <label>4. Berufsbezeichnung*</label>
  <note>Mehrfachangaben sind möglich.</note>
<input type="checkbox" required="true">Altenpfleger/in;Gesundheits- und Krankenpfleger;Gesundheits- und Kinderkrankenpfleger;Krankenpfleger/-schwester;Pflegefachmann/-frau</input>

  <label>5. Abschlussjahr der Ausbildung*</label>
<note>Geben Sie das Abschlussjahr Ihrer Ausbildung an (z.B. 2005). Falls Sie mehrere von den in Frage 4 genannten Ausbildungen in der Pflege absolviert haben, geben Sie bitte das Abschlussjahr der ersten Ausbildung an.</note>
<input type="text" required="true" maxlength="4" restricted="0-9"></input>

<label>6. Pflegestudium*</label>
<note>Wenn Sie ein Pflegestudium absolviert haben, geben Sie Ihren höchsten Abschluss an.</note>
<input type="radio" required="true">kein Pflegestudium;Studierende (ohne Abschluss);Bachelor;Master;Promotion;Habilitation</input>
<note>Wenn sie "kein Studium" angegeben haben, können Sie die nächste Frage überspringen.</note>
<label>7. Fachrichtung(en) des Pflegestudiums</label>
<note>Nur ausfüllen wenn zutreffend. Mehrfachangaben sind möglich.</note>
<input type="checkbox" required="no">Primärqualifizierendes Pflegestudium;Pflegewissenschaft;Pflegemanagement;Pflegepädagogik;andere Fachrichtung (bitte unten Angeben)</input>
<input type="text" required="false" maxlenght="50"></input>

<label>8. Mitgliedschaften*</label>
<note>Ich bin Mitglied bei folgenden Organisationen:</note>
<input type="checkbox" required="true">DBfK (Deutscher Berufsverband für Pflegeberufe);DBVA (Deutscher Berufsverband für Altenpflege);BeKD (Berufsverband Kinderkrankenpflege Deutschland);Anderer Pflegeverband oder -verein (z.B. DPV, DGP);Pflegekammer;ver.di;Bochumer Bund;Andere Gewerkschaft (z.B. komba)</input>

<label>9. Kommentare</label>
<note>Hier ist Platz für Ihre Kommentare, falls Sie z.B. zu einer der Aussagen Feedback geben möchten oder Ihre Antworten noch näher erläutern möchten.</note>
<input type="textarea" required="false"></input>


<note bg="false">Alle mit * markierte Angaben sind verpflichtend.</note>
  </item>

  <!-- URL for data transmission via POST/GET (leave blank if not required) -->
  <item id="submitUrl">exe.php?do=save</item>
  <!-- request mode (post|get) -->
  <item id="submitUrlMethod">post</item>

  <!-- data transmission via email, user must have an e-mail programm like Outlook (leave blank if not required) -->
  <item id="submitMail">kuusisto.de</item>
 </config>
